@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
  background-color: #28313f;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: #28313f;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #374151;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #227195;
}

.hide {
  display: none !important;
}

.user-login {
  margin-left: 8px !important;
}

.header-container {
  overflow: hidden;
}

.fun-chat {
  font-weight: 600;
  line-height: 100%;
}

.show-connecting {
  position: relative;
}

.show-connecting::before {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 70%);
  content: '';
}

.show-connecting::after {
  position: absolute;
  z-index: 100;
  top: 50%;
  left: calc(50% - 50px);
  color: #ffffff85;
  content: 'Connecting...';
}

.members {
  height: calc(100dvh - 264px);
  overflow-x: hidden;
}

.chat-field {
  height: calc(100dvh - 256px);
  overflow-x: hidden;
}

.member {
  position: relative;
  padding: 0.25rem 1rem 0.25rem 2rem;
  border-radius: 4px;
  margin-left: 0 !important;
}

.member.selected-user {
  background: #38bff815;
  color: #38bdf8;
}

.member::before {
  position: absolute;
  z-index: 2;
  top: calc(50% - 0.25rem);
  left: 0.75rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: rgb(60 75 83);
  content: '';
}

.member.active::before {
  background: #38bdf8;
}

.inner-box-shadow {
  box-shadow:
    0 2px 3px 1px rgb(0 0 0 / 5%),
    0 2px 4px 2px rgb(0 0 0 / 5%);
}

.chat-msg-field .form-text {
  display: none !important;
}

.member-login,
.user-login {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.content-msg {
  word-wrap: break-word;
  hyphens: auto;
}

.divider {
  position: relative;
}

.divider::before {
  position: absolute;
  top: 0.3rem;
  left: 0;
  width: 100%;
  border-top: 2px solid #38bdf8;
  content: '';
}

.divider::after {
  position: absolute;
  top: -0.2rem;
  left: calc(50% - 1rem);
  padding: 0 0.5rem;
  background-color: #28313f;
  color: #38bdf8;
  content: 'New';
  font-size: 0.7rem;
}

.action-card {
  position: absolute;
  z-index: 50;
}

.chat-actions {
  position: relative;
}

.cancel-btn {
  position: absolute;
  z-index: 50;
  top: -0.5rem;
  right: 5rem;
  display: flex;
  width: 1.5rem;
  height: 1.5rem;
  align-items: center;
  justify-content: center;
  padding: 8px !important;
  border-radius: 50%;
}

/* .chat-wrapper {
  max-width: calc(66.6% - 30px) !important;
  min-width: calc(66.6% - 30px) !important;
  width: calc(66.6% - 30px) !important;
  flex-grow: 1;
} */

.side-users {
}

.chat-page {
  position: relative;
}

.message {
  position: relative;
  max-width: 66.6%;
}

.burger-btn {
  display: none;
}
.pointer {
  cursor: pointer;
}

@media only screen and (max-width: 639px) {
  .side-card {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: #28313f;
    transform: translateX(-100%);
    opacity: 0;
  }

  .show-menu {
    transform: translateX(0) !important;
    transition: all 0.3s ease;
    opacity: 1;
  }

  .chat-wrapper {
    min-width: 100%;
  }

  .message {
    max-width: 100%;
  }

  .chat-header {
    padding-bottom: 16px;
  }

  .burger-btn {
    display: inline-flex;
    margin-left: 8px;
  }
}
