@tailwind base;
@tailwind components;
@tailwind utilities;

.hide {
  display: none;
}

.user-login {
  margin-left: 8px !important;
}

.fun-chat {
  font-weight: 600;
  line-height: 100%;
}

.show-connecting {
  position: relative;
}

.show-connecting::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}

.show-connecting::after {
  content: 'Connecting...';
  position: absolute;
  top: 50%;
  left: calc(50% - 50px);
  z-index: 100;
  color: #ffffff85;
}

.members {
  overflow-x: hidden;
  height: calc(100dvh - 256px);
}

.member {
  margin-left: 0 !important;
  position: relative;
  padding: 0.25rem 1rem 0.25rem 2rem;
  border-radius: 4px;
}

.member button {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.member::before {
  content: '';
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  background: rgb(60, 75, 83);
  border-radius: 50%;
  top: calc(50% - 0.25rem);
  left: 0.75rem;
  z-index: 2;
}

.member.active::before {
  background: #38bdf8;
}

.inner-box-shadow {
  box-shadow:
    0 2px 3px 1px rgb(0 0 0 / 0.05),
    0 2px 4px 2px rgb(0 0 0 / 0.05);
}
